// global variables
$header-one-font-size : 30px;
$header-four-font-size : 25px ;
$header-five-font-size : 20px ;
$header-five-font-size-mobile : 17px ;
$primary-background : rgb(28, 177, 144) ;
$base-color : rgb(28, 177, 144) ;
$light-background : rgb(255,255,255) ;
$footer-background : rgb(23, 25, 39)